root = true

[*.{cs,csx}]
# Microsoft .NET styling rules
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = crlf

# IDE Code Style Rules
csharp_using_directive_placement = outside_namespace:silent
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_pattern_matching = true:warning
csharp_style_prefer_null_check_over_type_check = true:warning

# Code quality rules
dotnet_diagnostic.IDE0005.severity = warning # Remove unnecessary usings
